body{
    margin: 0;
    overflow-x: hidden;
}

#main-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100vw;
    column-gap: 0;
    margin: 0;
}

#left-container{
    display: grid;
    grid-template-rows: auto 1fr;
    margin-left: 20px;  
    background-color: rgba(0,0,0, .2);
    margin: 0;
    padding: 10px;
}

h1{
    font-size: 7vw;
    float: right;
    display: block;
}

#info-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
}

#contacts-list{
    display: flex;
    flex-flow: column nowrap;
}

.display_container{
    margin: 1vw;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

.proj{
    filter: blur(0px);
}

.proj:hover{
    filter: blur(6px);
}