html{
    margin: 0;
}

main{
    display: flex;
    flex-flow: row wrap; 
    width: 80vw;
    margin: 0 auto;
}

#left-main{
    background-color: blue;
    width: 15%;
    height: 200px;
        border-radius: 10px;

}

#right-main{
    background-color: red;
    width: 15%;
    height: 200px;
    box-shadow: 5px 5px 1px black;
    border-radius: 10px;
}

#center-main{
    border: 1px black;
    width: 70%;
    height: 200px;
    background-color: black;
    border-radius: 10px;
}