*{
    margin: 0;
    
}

#container{
    height: 100vh;
    width: 100vw;
    background-color: green;
}

.choice_divider{
    height: 100%;
    width: 50%;
    background-color: black;
    opacity: 50%;
}